.add_post{
	float: left; width: 100px;height: 35px; margin: 18px 0 0 15px ;
}

#click_search_article{
	float: right;
	margin:20px 10px 0px 0px;

}

#seach_article{
	width: 200px;
	float: right;
	margin-top:20px;
}

#select_action{
	width: 100px;
	margin: 0px;
	padding: 0;
	float: left;
}

#click_action{
	float: left;
	margin-left: 10px;
}


.clear{
	clear: both;
}
table.table td a.edit {
  color: #FFC107;
  font-size: 24px;
}
table.table td a.delete {
    color: #F44336;
  font-size: 24px;
}

/* CSS file add POST in Admin */

.left_box_addPost{
	width: 55%;
	float: left;
}

.right_box_addPost{
	margin-top: 30px;
	width: 40%;
	float: right;
}

.right_box_addPost_box1{
	padding: 15px 5px 5px 15px;
	border: 1px solid black;	
	border-radius: 5px;
	margin-bottom: 10px;
}

#save_drafts{
	float: left;
	margin-left: 5%;
}

#view_post{
	float: right;
	margin-right: 8%;
}

#action_post{
	margin-left: 5%;
}

/*  TAGS EDITOR  */


.tags {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
}
.tags li.tagAdd, .tags li.addedTag {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.tags li.addedTag {
    background: none repeat scroll 0 0 #019f86;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
}
.tags input, li.addedTag {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 0.5em;
}
.tags input:hover {
    border: 1px solid #000;
}
span.tagRemove {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}
span.tagRemove:hover {
    color: #222222;
}

.tags li {
	list-style: none;
}

/*  CSS adding right_box_addPost_box2  */

